*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing:border-box;
    border: none; 
    font-family: 'Poppins', sans-serif;
    
   
}

h1{
    text-align: center;
    padding-top: 10px;
}

.bungkus{
    width: 100%;
    max-width: 700px;
    background-image: url('myImage/background\ game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto 30px;
    margin-top: 50px;
    padding: 40px 30px 20px;
    justify-content: center;
    border: 5px solid rgb(49, 19, 85);
    border-radius: 20px;  
}

.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    list-style-type: none;
 
}

.area-computer{
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.VS{
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(63, 19, 87);
    color: orangered;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 1000;
}


img {
    height: 150px;
    width: 150px;
}

li img{
    height: 150px;
    width: 150px;
    position: relative;
    display: block;
    margin: auto;
}


.computer{
    background-color: rgb(137, 66, 188);
    border: 5px solid black;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.batu{
    background-color: rgb(137, 66, 188);
    border: 5px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: auto;
}

.gunting{
    background-color: rgb(137, 66, 188);
    border: 5px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.kertas{
    background-color: rgb(137, 66, 188);
    border: 5px solid black;
    border-radius: 50%;
    cursor: pointer;
}

 .batu:hover {
    border: 5px solid rgb(45, 181, 45);
}
 .gunting:hover {
    border: 5px solid rgb(45, 181, 45);
}
 .kertas:hover {
    border: 5px solid rgb(45, 181, 45);
}



@media only screen and (max-width: 600px) {
    .bungkus {
        padding: 20px 10px;
    }

    .row {
        margin-top: 10px;
    }

    .area-computer {
        padding-top: 10px;
    }

    .VS{
        display: inline-block;
        position: relative;
        margin-left: -50px;
        margin-top: 10px;
    }


}






